<div class="w-full h-screen flex justify-center items-center fixed top-0 z-10">
  <div class="notifications-container">
    <div class="success">
      <div class="flex">
        <div class="success-prompt-wrap">
          <p class="success-prompt-heading">Wishlist Added Complitted
          </p><div class="success-prompt-prompt">
            <p>Congratulations! You've successfully added this item to your wishlist.</p>
          </div>
          <div class="flex justify-center ">
            <svg class="succes-svg my-2 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
            </svg>
          </div>
            <div class="w-full flex justify-center">
              <button type="button" class="success-button-main outline px-5" (click)="okey()">Okey</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>