<div class="container mx-auto mt-4">
    <div class="overflow-x-auto">
        <table class="table-auto min-w-full border-collapse border border-gray-300 rounded-lg shadow-md">
            <thead>
                <tr class="bg-gray-200">
                    <th class="px-4 py-4 text-left font-medium">Profile Data</th>
                    <th class="px-4 py-4 text-left font-medium">Information</th>
                </tr>
            </thead>
            <tbody >
                <tr>
                    <td class="px-4 py-4 text-gray-700">Full Name</td>
                    <td class="px-4 py-4 text-gray-700">John Doe</td>
                </tr>
                <tr>
                    <td class="px-4 py-4 text-gray-700">Email Address</td>
                    <td class="px-4 py-4 text-gray-700">johndoe@example.com</td>
                </tr>
                <tr>
                    <td class="px-4 py-4 text-gray-700">Gender</td>
                    <td class="px-4 py-4 text-gray-700">John Doe</td>
                </tr>
                <tr>
                    <td class="px-4 py-4 text-gray-700">Address</td>
                    <td class="px-4 py-4 text-gray-700">+123-456-7890</td>
                </tr>
                <tr>
                    <td class="px-4 py-4 text-gray-700">Phone Number</td>
                    <td class="px-4 py-4 text-gray-700">+123-456-7890</td>
                </tr>
                <tr>
                    <td class="px-4 py-4 text-gray-700">nationality</td>
                    <td class="px-4 py-4 text-gray-700">johndoe@example.com</td>
                </tr>
                <tr>
                    <td class="px-4 py-4 text-gray-700">Date of birth</td>
                    <td class="px-4 py-4 text-gray-700">johndoe@example.com</td>
                </tr>
                <tr>
                    <td class="px-4 py-4 text-gray-700">house no</td>
                    <td class="px-4 py-4 text-gray-700">+123-456-7890</td>
                </tr>
                <tr>
                    <td class="px-4 py-4 text-gray-700">Street</td>
                    <td class="px-4 py-4 text-gray-700">+123-456-7890</td>
                </tr>
                <tr>
                    <td class="px-4 py-4 text-gray-700">Zipcode</td>
                    <td class="px-4 py-4 text-gray-700">+123-456-7890</td>
                </tr>
                <tr>
                    <td class="px-4 py-4 text-gray-700">district</td>
                    <td class="px-4 py-4 text-gray-700">+123-456-7890</td>
                </tr>
                <tr>
                    <td class="px-4 py-4 text-gray-700">state</td>
                    <td class="px-4 py-4 text-gray-700">+123-456-7890</td>
                </tr>
            </tbody>
            <div class="w-full  flex justify-around my-6">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg" (click)="add()">Add</button>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg">Edit</button>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg">Back</button>
            </div>
        </table>
    </div>
</div>
