<h1 class="text-[24px] font-bold">Places List</h1>
<div class="love testimonials ">
  <div class="row max-h-[500px] flex flex-col gap-4 border-2 p-3 rounded-sm">
    <ng-container *ngIf="places?.length>0 ;else nodata" >
        <div class="flex flex-col items-center md:flex-row bg-[gray] rounded-xl p-3 cursor-pointer" *ngFor="let dt of places">
            <div class="md:w-1/5 mr-4 " (click)="gettingsingleplace(dt?._id)">
              <img
                class="w-24 h-24 rounded-full object-cover"
                src="{{dt?.placeurl[0]}}"
                alt="Taylor Otwell"
              />
            </div>
          
            <div class="one flex justify-between w-4/5  md:gap-4" (click)="gettingsingleplace(dt?._id)">
              <div class="flex flex-col">
                <h4 class="text-xl font-bold mb-2">
                  <p>{{dt?.placeName}}</p>
                </h4>
                <p class="text-black font-bold">{{dt?.location}}</p>
                <p class="text-black font-bold">provided by: {{dt?.agencydetails[0]?.name}}</p>
              </div>
          
              <div class="flex flex-col mt-4 md:mt-0"> <h4 class="font-bold mb-2">
                  <p>Time</p>
                </h4>
                <p class="text-black font-bold">opening: {{dt?.openingTime}}</p>
                <p class="text-black font-bold">closing: {{dt?.closingTime}}</p>
              </div>
          
              <div class="flex flex-col mt-4 md:mt-0"> <h4 class="font-bold mb-2">
                  <p>Ticket</p>
                </h4>
                <p class="text-black font-bold">💶{{dt?.entryFee}}</p>
              </div>
            </div>
          </div>
          
    </ng-container>

    <ng-template #nodata>
      <h1 class="font-bold text-[20px] text-red-400">no place found</h1>
    </ng-template>
  </div>
</div>
