<div class="nav w-full solid bg-transparent absolute top-[5px]  flex">
    <div class="logo pl-10 max-h-12 overflow-hidden my-2  w-[50%] "><img src="/assets/images/logo.png" alt="" class="max-w-full max-h-full"></div>
    <div class="entry pr-10 max-h-12 my-2 flex justify-end items-center  w-[50%]"><button class="btn" (click)="logout()">Login/SignUp</button></div>
</div>
<site-service></site-service>
<app-banner></app-banner>
<trending-agency></trending-agency>
<popular-places></popular-places>
<popular-packages></popular-packages>
<about-agenncy></about-agenncy>
<app-footer></app-footer>


