<div
  class="w-full flex flex-col items-center bg-[#191a35] text-white mt-10 pt-2 pb-5"
>
  <div class="chat w-[90%] flex">
    <div class="chat-discription w-[50%] h-full">
      <p class="text-[13px] py-2">
        Have a question about our agency services or need assistance with
        booking a package? Our dedicated team is just a message away, ready to
        provide prompt and personalized assistance
      </p>
    </div>
    <div class="chat-button w-[50%] flex justify-end items-center gap-3">
      <h1 class="text-[20px] font-bold">Chat with us</h1>
      <button (click)="chat()"><i class="fa-brands fa-whatsapp mr-2"></i>chat</button>
    </div>
  </div>
  <div class="reviews w-[90%] font-bold flex justify-between mt-4">
    <h1 class="">REVIEW..</h1>
    <div class="love flex gap-2">
      <div class="flex">
        <input type="text" name="" id="" class="text-black text-[16px] font-light px-2" [(ngModel)]="emty" (keyup)="review(reviews.value)" #reviews/>
      </div>
      <div class="flex">
        <p>rate</p>
        <app-starrating (rate)="rating($event)"></app-starrating>
        <button class="btn ml-3" (click)="submitreview()">submit</button>
      </div>
    </div>
  </div>
  
  <ng-container *ngIf="bool">
    <div class="shah w-full  my-2" *ngIf="fullreview && fullreview.length>0">
      <div class="review w-[90%] flex justify-center gap-5 px-3 flex-wrap ">
        <div class="rev min-w-[200px] max-w-[200px] flex flex-col justify-between " *ngFor="let dt of fullreview.slice(0,3)">
          <p class="font-semibold">{{dt?.userdetails[0]?.username}}</p>
          <div class="chat-discription w-full">
            <p class="text-[13px]">{{dt?.comment}}</p>
          </div>
          <p class="flex justify-between items-center">
            rating :- <i class="fa-solid fa-star" 
            *ngFor="let b of [1,2,3,4,5] ;let i =index"
            [ngClass]="{'filled': i < dt?.rating}"
            ></i>
          </p>
          <div class="chat-discription w-full">
            <p class="text-[13px] mt-2">{{dt?.date?.split("T")[0]}}</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <p class="text-center cursor-pointer mb-1 hover:text-red-600" (click)="fullreviewagency()" *ngIf="fullreview?.length>0 && bool">View more..</p>
      <p class="text-center cursor-pointer mb-1 hover:text-red-600" (click)="fullreviewagency()" *ngIf="fullreview?.length>0 && !bool">Show less..</p>

  <ng-container *ngIf="!bool">
    <div class="shah w-full h-[200px] overflow-auto  flex justify-center !my-2" *ngIf="fullreview && fullreview.length>0">
      <div class="review w-[90%] flex justify-center gap-5 px-3 flex-wrap ">
        <div class="rev min-w-[200px] max-w-[200px]  flex flex-col justify-between" *ngFor="let dt of fullreview">
          <p class="font-semibold">{{dt?.userdetails[0]?.username}}</p>
          <div class="chat-discription w-full">
            <p class="text-[13px]">{{dt?.comment}}</p>
          </div>
          <p class="flex justify-between items-center">
            rating :- <i class="fa-solid fa-star" 
            *ngFor="let b of [1,2,3,4,5] ;let i =index"
            [ngClass]="{'filled': i < dt?.rating}"
            ></i>
          </p>
          <div class="chat-discription w-full">
            <p class="text-[13px] mt-2">{{dt?.date?.split("T")[0]}}</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="w-[90%] flex justify-center gap-4 mt-4">
    <p class="text-[10px]">
      <i class="pr-1 fa-brands fa-whatsapp"></i>whatsapp
    </p>
    <p class="text-[10px]">
      <i class="pr-1 fa-brands fa-instagram"></i>instagram
    </p>
    <p class="text-[10px]">
      <i class="pr-1 fa-brands fa-facebook"></i>facebook
    </p>
  </div>
</div>


