<div
  class="w-full flex flex-col items-center bg-[#191a35] text-white mt-10 pt-2 pb-5"
>
  <div class="chat w-[90%] flex">
    <div class="chat-discription w-[50%] h-full">
      <p class="text-[13px] py-2">
        Have a question about our agency services or need assistance with
        booking a package? Our dedicated team is just a message away, ready to
        provide prompt and personalized assistance
      </p>
    </div>
    <div class="chat-button w-[50%] flex justify-end items-center gap-3">
      <h1 class="text-[20px] font-bold">Chat with us</h1>
      <button><i class="fa-brands fa-whatsapp mr-2"></i>chat</button>
    </div>
  </div>
  <div class="reviews w-[90%] font-bold flex justify-between mt-4">
    <h1 class="">REVIEW..</h1>
    <div class="love flex gap-2">
      <div class="flex">
        <input type="text" name="" id="" class="text-black text-[16px] font-light px-2" [(ngModel)]="emty" (keyup)="review(reviews.value)" #reviews/>
      </div>
      <div class="flex">
        <p>rate</p>
        <app-starrating (rate)="rating($event)"></app-starrating>
        <button class="btn ml-3" (click)="submitreview()">submit</button>
      </div>
    </div>
  </div>
  <div class="review w-[90%] flex justify-center gap-5 px-3 flex-wrap mt-5">
    <div class="rev min-w-[200px] max-w-[200px] h-full">
      <p class="font-semibold">sushinshyam</p>
      <div class="chat-discription w-full">
        <p class="text-[13px]">best expirence and good one i ever used</p>
      </div>
      <p class="flex justify-between items-center">
        rating :- <i class="fa-solid fa-star"></i
        ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
        ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
      </p>
    </div>
    <div class="rev min-w-[200px] max-w-[200px] h-full">
      <p class="font-semibold">sushinshyam</p>
      <div class="chat-discription w-full">
        <p class="text-[13px]">best expirence and good one i ever used</p>
      </div>
      <p class="flex justify-between items-center">
        rating :- <i class="fa-solid fa-star"></i
        ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
        ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
      </p>
    </div>
    <div class="rev min-w-[200px] max-w-[200px] h-full">
      <p class="font-semibold">sushinshyam</p>
      <div class="chat-discription w-full">
        <p class="text-[13px]">best expirence and good one i ever used</p>
      </div>
      <p class="flex justify-between items-center">
        rating :- <i class="fa-solid fa-star"></i
        ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
        ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
      </p>
    </div>
  </div>
  <div class="w-[90%] flex justify-center gap-4 mt-4">
    <p class="text-[10px]">
      <i class="pr-1 fa-brands fa-whatsapp"></i>whatsapp
    </p>
    <p class="text-[10px]">
      <i class="pr-1 fa-brands fa-instagram"></i>instagram
    </p>
    <p class="text-[10px]">
      <i class="pr-1 fa-brands fa-facebook"></i>facebook
    </p>
  </div>
</div>


