
<div class=" w-full ">
    <h1 class=" font-bold text-[30px] pl-11 my-10">Packages</h1>
    <div class="w-full gap-4 flex flex-wrap justify-center">
        <div class="w-[230px] h-[300px] border-[1px] overflow-hidden bg-[#fff] relative rounded-md">
          <img src="/assets/images/agency newlog.png" style="background-size: cover; background-position: center; background-repeat: no-repeat;  border: 2px;" alt="">
          <div class=" w-full h-[35%]  absolute bottom-0 bg-[#80808063]">
            <h1 class="pl-1 font-bold text-[20px]">Place name</h1>
            <h1 class="pl-1">discription</h1>
          </div>
        </div>
        <div class="w-[230px] h-[300px] border-[1px] overflow-hidden bg-[#fff] relative rounded-md">
          <img src="/assets/images/agency newlog.png" style="background-size: cover; background-position: center; background-repeat: no-repeat;  border: 2px;" alt="">
          <div class=" w-full h-[35%]  absolute bottom-0 bg-[#80808063]">
            <h1 class="pl-1 font-bold text-[20px]">Place name</h1>
            <h1 class="pl-1">discription</h1>
          </div>
        </div>
        <div class="w-[230px] h-[300px] border-[1px] overflow-hidden bg-[#fff] relative rounded-md">
          <img src="/assets/images/agency newlog.png" style="background-size: cover; background-position: center; background-repeat: no-repeat;  border: 2px;" alt="">
          <div class=" w-full h-[35%]  absolute bottom-0 bg-[#80808063]">
            <h1 class="pl-1 font-bold text-[20px]">Place name</h1>
            <h1 class="pl-1">discription</h1>
          </div>
        </div>
        <div class="w-[230px] h-[300px] border-[1px] overflow-hidden bg-[#fff] relative rounded-md">
          <img src="/assets/images/agency newlog.png" style="background-size: cover; background-position: center; background-repeat: no-repeat;  border: 2px;" alt="">
          <div class=" w-full h-[35%]  absolute bottom-0 bg-[#80808063]">
            <h1 class="pl-1 font-bold text-[20px]">Place name</h1>
            <h1 class="pl-1">discription</h1>
          </div>
        </div>
        <div class="w-[230px] h-[300px] border-[1px] overflow-hidden bg-[#fff] relative rounded-md">
          <img src="/assets/images/agency newlog.png" style="background-size: cover; background-position: center; background-repeat: no-repeat;  border: 2px;" alt="">
          <div class=" w-full h-[35%]  absolute bottom-0 bg-[#80808063]">
            <h1 class="pl-1 font-bold text-[20px]">Place name</h1>
            <h1 class="pl-1">discription</h1>
          </div>
        </div>
        <div class="w-[230px] h-[300px] border-[1px] overflow-hidden bg-[#fff] relative rounded-md">
          <img src="/assets/images/agency newlog.png" style="background-size: cover; background-position: center; background-repeat: no-repeat;  border: 2px;" alt="">
          <div class=" w-full h-[35%]  absolute bottom-0 bg-[#80808063]">
            <h1 class="pl-1 font-bold text-[20px]">Place name</h1>
            <h1 class="pl-1">discription</h1>
          </div>
        </div>
        <div class="w-[230px] h-[300px] border-[1px] overflow-hidden bg-[#fff] relative rounded-md">
          <img src="/assets/images/agency newlog.png" style="background-size: cover; background-position: center; background-repeat: no-repeat;  border: 2px;" alt="">
          <div class=" w-full h-[35%]  absolute bottom-0 bg-[#80808063]">
            <h1 class="pl-1 font-bold text-[20px]">Place name</h1>
            <h1 class="pl-1">discription</h1>
          </div>
        </div>
        <div class="w-[230px] h-[300px] border-[1px] overflow-hidden bg-[#fff] relative rounded-md">
          <img src="/assets/images/agency newlog.png" style="background-size: cover; background-position: center; background-repeat: no-repeat;  border: 2px;" alt="">
          <div class=" w-full h-[35%]  absolute bottom-0 bg-[#80808063]">
            <h1 class="pl-1 font-bold text-[20px]">Place name</h1>
            <h1 class="pl-1">discription</h1>
          </div>
        </div>
        <div class="w-[230px] h-[300px] border-[1px] overflow-hidden bg-[#fff] relative rounded-md">
          <img src="/assets/images/agency newlog.png" style="background-size: cover; background-position: center; background-repeat: no-repeat;  border: 2px;" alt="">
          <div class=" w-full h-[35%]  absolute bottom-0 bg-[#80808063]">
            <h1 class="pl-1 font-bold text-[20px]">Place name</h1>
            <h1 class="pl-1">discription</h1>
          </div>
        </div>
      
    </div>
  </div>