<section class="w-full h-screen flex justify-center items-center absolute z-10  ">
    <div class="w-[80%]    bg-[#545353fa] flex flex-col justify-around rounded-md">
        <div class="w-full text-center">
            <h1 class=" flex justify-end "><i class="cancel-icon fa-solid fa-xmark  font-bold text-[30px] p-2" (click)="cancel()"></i></h1>
            <h1 class="alert text-white font-medium"><span class="font-bold text-[#e14242]">Attention:</span> Only Registered Numbers Can Sign Up<i class="fa-solid fa-circle-exclamation ml-2 text-[red] icon"></i></h1>
            <p class="reason text-[#dbd4d4] md:text-[14px] text-[12px]"> Thank you for your interest in our service. Please note that our platform utilizes Twilio for OTP (One-Time Password) verification. OTPs are sent exclusively to registered phone numbers.
                If you attempted to sign up using an unregistered number, kindly note that only registered numbers are eligible for sign-up. To explore our platform's features and functionalities, we invite you to log in using the provided credentials.
                Should you have any inquiries or require assistance, please do not hesitate to reach out to our support team.
                Thank you for your understanding and cooperation.</p>
        </div>
        <h1 class="text-[#ff49f3] text-[11px] font-bold ml-2">if you want to explore. use any Credential given below.</h1>
        <div class=" flex flex-col md:flex-row">
            <div class="cube-loader absolute " *ngIf="!loading">
               <div class="cube cube1"></div>
               <div class="cube cube2"></div>
               <div class="cube cube3"></div>
               <div class="cube cube4"></div>
            </div>
            <ng-container *ngIf="loading">
                <div class=" box1 w-full md:w-[50%] md:h-[100px] md:p-3 p-0 flex justify-center items-center relative" *ngFor="let dt of data" (click)="usecredential(dt?._id)">
                    <div class="w-[95%] h-[90%] bg-[#606060fa] rounded-md shadow-lg grid text-center">
                        <h1>{{dt?.username}}</h1>
                        <h1>{{dt?.email}}</h1>
                    </div>
                </div>
            </ng-container>                  
        </div>
        <h1 class="text-center md:p-2 p-3">Thank You</h1>
    </div>
</section>