.reason{
    overflow-wrap: break-word;
}
.icon{
    animation: shake 0.5s ease infinite;
}



@keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-2px);
    }
    50% {
      transform: translateX(2px);
    }
    75% {
      transform: translateX(-2px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @media(max-width:550px){

    .alert{
        font-size: 12px;
    }
    .cancel-icon{
        font-size: 20px;
    }
    .reason{
        font-size: 9px;
    }
    .box1{
        height: 80px !important;
    }
  }