<section class="mt-5">
  <h1 class="trending-h1 ml-11 font-black text-[30px]">TRENDING AGENCIES</h1>
  <div
    class="agencies w-full overflow-auto flex gap-x-16 px-10 pb-10 pt-3 h-[350px]"
  >
    <div class="agency min-w-[225px] flex items-end">
      <div class="agency-about w-full h-[35%] pl-4 space-y-1">
        <h1 class="font-bold text-white text-[20px] mt-2">Akbar travals</h1>
        <p class="text-white">explore with the best ones</p>
        <p class="text-white">
          <i class="fa-solid fa-location-dot"></i> pantheerankavu, calicut
        </p>
      </div>
    </div>
    <div class="agency min-w-[225px] flex items-end">
      <div class="agency-about w-full h-[35%] pl-4 space-y-1">
        <h1 class="font-bold text-white text-[20px] mt-2">Akbar travals</h1>
        <p class="text-white">explore with the best ones</p>
        <p class="text-white">
          <i class="fa-solid fa-location-dot"></i> pantheerankavu, calicut
        </p>
      </div>
    </div><div class="agency min-w-[225px] flex items-end">
      <div class="agency-about w-full h-[35%] pl-4 space-y-1">
        <h1 class="font-bold text-white text-[20px] mt-2">Akbar travals</h1>
        <p class="text-white">explore with the best ones</p>
        <p class="text-white">
          <i class="fa-solid fa-location-dot"></i> pantheerankavu, calicut
        </p>
      </div>
    </div>
    <div class="agency min-w-[225px] flex items-end">
      <div class="agency-about w-full h-[35%] pl-4 space-y-1">
        <h1 class="font-bold text-white text-[20px] mt-2">Akbar travals</h1>
        <p class="text-white">explore with the best ones</p>
        <p class="text-white">
          <i class="fa-solid fa-location-dot"></i> pantheerankavu, calicut
        </p>
      </div>
    </div>
    <div class="agency min-w-[225px] flex items-end">
      <div class="agency-about w-full h-[35%] pl-4 space-y-1">
        <h1 class="font-bold text-white text-[20px] mt-2">Akbar travals</h1>
        <p class="text-white">explore with the best ones</p>
        <p class="text-white">
          <i class="fa-solid fa-location-dot"></i> pantheerankavu, calicut
        </p>
      </div>
    </div>
    <div class="agency min-w-[225px] flex items-end">
      <div class="agency-about w-full h-[35%] pl-4 space-y-1">
        <h1 class="font-bold text-white text-[20px] mt-2">Akbar travals</h1>
        <p class="text-white">explore with the best ones</p>
        <p class="text-white">
          <i class="fa-solid fa-location-dot"></i> pantheerankavu, calicut
        </p>
      </div>
    </div>
    <div class="agency min-w-[225px] flex items-end">
      <div class="agency-about w-full h-[35%] pl-4 space-y-1">
        <h1 class="font-bold text-white text-[20px] mt-2">Akbar travals</h1>
        <p class="text-white">explore with the best ones</p>
        <p class="text-white">
          <i class="fa-solid fa-location-dot"></i> pantheerankavu, calicut
        </p>
      </div>
    </div>
  </div>
</section>
