.love{
    padding: 60px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgb(55, 54, 54);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    position: absolute;
}
@media (max-width: 530px){
    .love{
    padding: 20px;
    padding-top: 40px !important;
        
    }
}
@media (max-width: 390px){
    .love{
        padding: 0px;
        padding-top: 20px !important;
    }
    h1{
        font-size: 20px;
    }
    button {
      width: 80px !important; /* Adjust width as needed */
      height: 30px !important; /* Adjust height as needed */
      font-size: 13px;
      background-color: #007bff !important;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-left: 0px !important;
      transition: background-color 0.3s ease;
    }
    .btn{
      width: 90%;
    }

 }


form {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }
  
  /* Style each OTP input field */
  .otp-input {
    margin-bottom: 10px;
  }
  
  .otp-input input {
    width: 200px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    font-size: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  /* Style the submit button */
  button {
    width: 90px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    font-size: 13px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  