<h1 class="text-[24px] font-bold">Blocked users</h1>
<app-userunblock *ngIf="modalview" [id]="unblockid" (cancelview)="cancelling($event)"></app-userunblock>
<div class="container mt-3 mb-4">
<div class="col-lg-9 mt-4 mt-lg-0">
    <div class="row">
      <div class="col-md-12">
        <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm max-h-[500px] overflow-auto rounded-lg">
            <table class="table-auto border-collapse w-full">
                <thead>
                    <tr>
                        <th class="px-4 py-2 font-medium text-left border-b border-gray-200">User Name and Email</th>
                        <th class="px-4 py-2 font-medium text-center border-b border-gray-200">Status</th>
                        <th class="px-4 py-2 font-medium text-center border-b border-gray-200">Action</th>
                    </tr>
                </thead>
            <tbody>
                <ng-container *ngIf="data?.length>0; else nodata">
                    <tr class="candidates-list" *ngFor="let dt of data">
                        <td class="px-4 py-4 flex items-center cursor-pointer">
                            <div class="w-16 mr-4 rounded-full overflow-hidden">
                                <img class="w-full h-full object-cover" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                            </div>
                    
                            <div class="flex flex-col space-y-2">
                                <div class="font-medium text-lg">
                                    <a href="#">{{dt?.username}}</a>
                                </div>
                                <div class="flex items-center text-sm text-gray-500">
                                     <p>{{dt?.email}}</p>
                                </div>
                                <div class="flex items-center text-sm text-gray-500">
                                    <p>{{dt?.phoneNumber}}</p>
                                </div>
                            </div>
                        </td>
                    
                        <td class="text-center px-4 py-4">
                            <span class="inline-flex items-center space-x-2">
                                <a href="#" class="text-danger">
                                </a>
                                <span class="font-medium text-gray-500">Blocked</span>
                            </span>
                        </td>
                    
                        <td class="px-4 py-4 text-center ">
                           <button class="font-black bg-red-500 px-[10px] py-[6px] rounded-lg" (click)="unblock(dt?._id)">Unblock</button>
                        </td>
                    </tr>
                </ng-container>
                <ng-template #nodata>
                    <h1 class="font-bold mt-5 text-[20px] text-red-500">No blocked users found</h1>
               </ng-template>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
  </div>
</div>