<h1 class="text-[24px] font-bold">Requests</h1>
<div class="container mx-auto max-h-[500px] overflow-auto mt-10 bg-slate-200 w-full">
    <div class="flex flex-col items-center">
      <div class="w-full rounded-lg shadow-md overflow-scroll">
        <table class="w-full min-w-max table-auto border-collapse">
          <thead>
            <tr>
              <th class="px-4 py-2 text-left">User</th>
              <th class="px-4 py-2 text-center">Status</th>
              <th class="px-4 py-2 text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="px-1 py-2 flex items-center">
                <img class="w-10 h-10 rounded-full mr-2" src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                <div class=" flex flex-col">
                  <a href="#" class="sin text-blue-600 font-medium">agency name</a>
                  <a href="">agency mail</a>
                </div>
              </td>
              <td class=" py-2 text-center">
                <span class="inline-flex items-center px-3 py-2 rounded-full text-white bg-yellow-400 font-bold text-sm">Pending</span>
              </td>
              <td class="px-4 py-2 text-center flex justify-center space-x-2">
               <button class="px-[10px] py-[5px] rounded-md bg-green-500">Approve</button>
              </td>
            </tr>
            <tr>
                <td class="px-1 py-2 flex items-center">
                  <img class="w-10 h-10 rounded-full mr-2" src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                  <div class=" flex flex-col">
                    <a href="#" class="sin text-blue-600 font-medium">agency name</a>
                    <a href="">agency mail</a>
                  </div>
                </td>
                <td class=" py-2 text-center">
                  <span class="inline-flex items-center px-3 py-2 rounded-full text-white bg-yellow-400 font-bold text-sm">Pending</span>
                </td>
                <td class="px-4 py-2 text-center flex justify-center space-x-2">
                 <button class="px-[10px] py-[5px] rounded-md bg-green-500">Approve</button>
                </td>
              </tr>
              <tr>
                <td class="px-1 py-2 flex items-center">
                  <img class="w-10 h-10 rounded-full mr-2" src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                  <div class=" flex flex-col">
                    <a href="#" class="sin text-blue-600 font-medium">agency name</a>
                    <a href="">agency mail</a>
                  </div>
                </td>
                <td class=" py-2 text-center">
                  <span class="inline-flex items-center px-3 py-2 rounded-full text-white bg-yellow-400 font-bold text-sm">Pending</span>
                </td>
                <td class="px-4 py-2 text-center flex justify-center space-x-2">
                 <button class="px-[10px] py-[5px] rounded-md bg-green-500">Approve</button>
                </td>
              </tr>
              <tr>
                <td class="px-1 py-2 flex items-center">
                  <img class="w-10 h-10 rounded-full mr-2" src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                  <div class=" flex flex-col">
                    <a href="#" class="sin text-blue-600 font-medium">agency name</a>
                    <a href="">agency mail</a>
                  </div>
                </td>
                <td class=" py-2 text-center">
                  <span class="inline-flex items-center px-3 py-2 rounded-full text-white bg-yellow-400 font-bold text-sm">Pending</span>
                </td>
                <td class="px-4 py-2 text-center flex justify-center space-x-2">
                 <button class="px-[10px] py-[5px] rounded-md bg-green-500">Approve</button>
                </td>
              </tr>
              <tr>
                <td class="px-1 py-2 flex items-center">
                  <img class="w-10 h-10 rounded-full mr-2" src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                  <div class=" flex flex-col">
                    <a href="#" class="sin text-blue-600 font-medium">agency name</a>
                    <a href="">agency mail</a>
                  </div>
                </td>
                <td class=" py-2 text-center">
                  <span class="inline-flex items-center px-3 py-2 rounded-full text-white bg-yellow-400 font-bold text-sm">Pending</span>
                </td>
                <td class="px-4 py-2 text-center flex justify-center space-x-2">
                 <button class="px-[10px] py-[5px] rounded-md bg-green-500">Approve</button>
                </td>
              </tr>
              <tr>
                <td class="px-1 py-2 flex items-center">
                  <img class="w-10 h-10 rounded-full mr-2" src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                  <div class=" flex flex-col">
                    <a href="#" class="sin text-blue-600 font-medium">agency name</a>
                    <a href="">agency mail</a>
                  </div>
                </td>
                <td class=" py-2 text-center">
                  <span class="inline-flex items-center px-3 py-2 rounded-full text-white bg-yellow-400 font-bold text-sm">Pending</span>
                </td>
                <td class="px-4 py-2 text-center flex justify-center space-x-2">
                 <button class="px-[10px] py-[5px] rounded-md bg-green-500">Approve</button>
                </td>
              </tr>
              <tr>
                <td class="px-1 py-2 flex items-center">
                  <img class="w-10 h-10 rounded-full mr-2" src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                  <div class=" flex flex-col">
                    <a href="#" class="sin text-blue-600 font-medium">agency name</a>
                    <a href="">agency mail</a>
                  </div>
                </td>
                <td class=" py-2 text-center">
                  <span class="inline-flex items-center px-3 py-2 rounded-full text-white bg-yellow-400 font-bold text-sm">Pending</span>
                </td>
                <td class="px-4 py-2 text-center flex justify-center space-x-2">
                 <button class="px-[10px] py-[5px] rounded-md bg-green-500">Approve</button>
                </td>
              </tr>
              <tr>
                <td class="px-1 py-2 flex items-center">
                  <img class="w-10 h-10 rounded-full mr-2" src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                  <div class=" flex flex-col">
                    <a href="#" class="sin text-blue-600 font-medium">agency name</a>
                    <a href="">agency mail</a>
                  </div>
                </td>
                <td class=" py-2 text-center">
                  <span class="inline-flex items-center px-3 py-2 rounded-full text-white bg-yellow-400 font-bold text-sm">Pending</span>
                </td>
                <td class="px-4 py-2 text-center flex justify-center space-x-2">
                 <button class="px-[10px] py-[5px] rounded-md bg-green-500">Approve</button>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
  