<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="w-full max-w-lg mx-auto">
    <div class="h-[80px]">
      <label for="username" class="block text-gray-700 text-sm font-bold ">Username</label>
      <input formControlName="username" type="text" id="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      <label class="label-required" for="" *ngIf="submitted && f['username'].errors && f['username'].errors['required']" >username required</label>
      <label class="label-required" for="" *ngIf="f['username'].errors && f['username'].errors['pattern']" >username must in the lowercase only</label>
    </div>
    <div class=" h-[80px] " >
      <label for="email" class="block text-gray-700 text-sm font-bold ">Email</label>
      <input formControlName="email" type="email" id="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      <label class="label-required" for="" *ngIf="submitted && f['email'].errors && f['email'].errors['required']" >email required</label>
      <label class="label-required" for="" *ngIf="f['email'].errors && f['email'].errors['email']" >enter the email in correct formate</label>
    </div>
    <div class="mb-4">
      <label for="password" class="block text-gray-700 text-sm font-bold ">Password</label>
      <input formControlName="password" type="password" id="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      <label class="label-required" for="" *ngIf="submitted && f['password'].errors && f['password'].errors['required']" >password required</label>
      <label class="label-required" for="" *ngIf="f['password'].errors && f['password'].errors['pattern']" >password must have 8 charecter and it includes uppercase and special charector also</label>
    </div>
    <div class=" h-[80px] ">
      <label for="phoneNumber" class="block text-gray-700 text-sm font-bold ">Phone Number</label>
      <input formControlName="phoneNumber" type="tel" id="phoneNumber" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      <label class="label-required" for="" *ngIf="submitted && f['phoneNumber'].errors && f['phoneNumber'].errors['required']" >phoneNumber required</label>
      <label class="label-required" for="" *ngIf="f['phoneNumber'].errors && f['phoneNumber'].errors['maxlength'] " >10 digits</label>
    </div>
    <div class="h-[100px] mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Role</label>
        <div class="flex items-center">
          <input formControlName="role.user" value="user" (change)="onCheckboxChange($event, 'user')" type="checkbox" id="user" class="form-checkbox h-5 w-5 text-blue-600">
          <label for="user" class="ml-2 text-gray-700">User</label>
        </div>
        <div class="flex items-center">
          <input formControlName="role.admin" value="admin" (change)="onCheckboxChange($event, 'admin')" type="checkbox" id="admin" class="form-checkbox h-5 w-5 text-blue-600">
          <label for="admin" class="ml-2 text-gray-700">Admin</label>
        </div>
        <label class="label-required" *ngIf="submitted && userForm.get('role')?.errors?.['roleRequired']">This field is required</label>
      </div>
      
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Submit</button>
  </form>

