<h1 class="text-[24px] font-bold">Blocked Agencies</h1>
<app-agencyunblock *ngIf="modalview" [id]="unblockid" (cancelview)="cancelling($event)"></app-agencyunblock>
<div class="container mx-auto max-h-[500px] overflow-auto mt-10 bg-slate-200 w-full">
    <div class="flex flex-col items-center">
      <div class="w-full rounded-lg shadow-md overflow-scroll">
        <table class="w-full min-w-max table-auto border-collapse">
          <thead>
            <tr>
              <th class="px-4 py-2 text-left">User</th>
              <th class="px-4 py-2 text-center">Status</th>
              <th class="px-4 py-2 text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
             <ng-container *ngIf="data?.length>0 ;else nodata">
              <tr class=""  *ngFor="let dt of data">
                <td class="px-1 py-2 flex items-center border-2">
                  <img class="w-10 h-10 rounded-full mr-2" src="{{dt?.fulldetails[0]?.logo_url ? dt?.fulldetails[0]?.logo_url : '/assets/images/userpng.png'}}" alt="">
                  <div class=" flex flex-col">
                    <p class="sin text-blue-600 font-medium">{{ dt?.fulldetails[0]?.name || 'Agency has not completed their profile yet' }}</p>
                    <a href="">{{dt?.email}}</a>
                  </div>
                </td>
                <td class=" py-2 text-center  ">
                  <span class="inline-flex items-center px-3 py-2 rounded-full text-white bg-yellow-400 font-bold text-sm">Block</span>
                </td>
                <td class="py-2 text-center ">
                 <button class="inline-flex items-center px-3 py-2  text-white rounded-md bg-green-500 font-bold text-sm" (click)="unblock(dt?._id)">UnBlock</button>
                </td>
              </tr>
             </ng-container>
             <ng-template #nodata>
              <h1 class="font-bold text-[20px] text-red-400">no blocked agency found</h1>
            </ng-template>
            </tbody>
        </table>
      </div>
    </div>
  </div>
  