<div class="one w-full flex bg-gradient-to-r from-[#59ea98] to-[#afccd2]">
  <div
    class="one-one w-[50%] text-center grid place-items-center font-serif text-[20px] leading-10"
  >
    <h1 class="p-3">
      Welcome to <span class="text-red-600 font-extrabold">Lokama</span>, We
      hosts a diverse array of travel agencies, each offering unique and
      tailored experiences to suit every traveler's desires. From boutique
      agencies specializing in off-the-beaten-path adventures to renowned
      companies curating luxury getaways, Lokama brings together the best in the
      travel industry under one platform.
    </h1>
  </div>
  <div class="one-two w-[50%] flex justify-around">
    <img
      src="/assets/images/agencyhome.png"
      alt=""
      class="w-[300px] h-[300px]"
    />
  </div>
</div>
