<div class="main w-full h-[300px] flex mt-10 border-8">
  <div class="description w-[50%] h-full px-5 flex flex-col justify-center">
    <h1 class="font-bold text-[22px]">WHY WE ARE BEST</h1>
    <p class="para text-[16px]">
      we pride ourselves on being more than just a travel platform – we're your
      trusted companion, your personal guide, and your gateway to unforgettable
      journeys. With a relentless commitment to excellence and innovation,
      LOKAMA sets the standard for exceptional travel experiences. Here's why
      LOKAMA stands out as the premier choice for travelers worldwide
    </p>
  </div>
  <div class="image w-[50%] h-full"></div>
</div>
