body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
}

form textarea,
form input[type="text"],
form input[type="tel"],
form input[type="email"],
form input[type="time"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    /* margin-bottom: 15px; */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

/* Styles for checkboxes */
.checkbox-group {
    margin-bottom: 15px;
}

.checkbox-group label {
    display: block;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 5px;
}

/* Styles for file input */
form input[type="file"] {
    margin-top: 5px;
    margin-bottom: 15px;
}

/* Responsive styling */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}

.container {
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 8px;
    /* margin: 6px 0; */
    box-sizing: border-box;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .services,
  .contact-numbers,
  .photos {
    margin-bottom: 15px;
  }
  
  .service,
  .contact-number,
  .photo {
    margin-bottom: 5px;
  }
  

  .label-required{
    font-size: 10px;
    /* border: 2px solid; */
    font-weight: 500 !important;
    color: red;
  }

  .sub{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  .sub:disabled{
    background-color: #cccccc;
    cursor: not-allowed;
  }