<div class="w-full">
  <div class="title w-full h-[420px] flex items-center">
    <div class="one w-[70%] h-[55%] pl-[60px]">
      <h1 class="lokam-h1 font-black text-[30px]">LOKAMA</h1>
      <p class="flying-text font-bold text-[25px]">flying</p>
      <p class="lokam-description">
        At LOKAMA Flaying, we're your gateway to seamless travel experiences.
        Whether you're planning a weekend getaway, a business trip, or a dream
        vacation, we've got you covered. With our intuitive platform, booking
        your next adventure is as easy as a few clicks..
      </p>
    </div>
  </div>
  <div
    class="title1 w-full h-[230px] mt-[-94px] relative z-10 flex justify-around items-center"
  >
    <div
      class="serv w-[25%] h-[85%] bg-[#f7467bf8] flex flex-col items-center overflow-hidden justify-evenly rounded-[10px] px-[4px] cursor-pointer"
      (click)="gotoagencies()"
    >
      <img
        src="/assets/images/explore egency.png"
        class="w-[50px] mt-2"
        alt=""
      />
      <h1 class="font-bold text-center">explore agency</h1>
      <div class="h-1/2 flex justify-center items-center">
        <p class="text-[10px] text-center text-white">
          your gateway to the world's most captivating destinations. Immerse
          yourself in a kaleidoscope of cultures, landscapes, and experiences as
          you embark on a journey of exploration and wonder.
        </p>
      </div>
    </div>
    <div
      class="serv w-[25%] h-[85%] bg-[#f7467bf8] flex flex-col items-center overflow-hidden justify-evenly rounded-[10px] px-[4px] cursor-pointer"
      (click)="gotopackages()"
    >
      <img
        src="/assets/images/explore_packages-removebg-preview.png"
        class="w-[90px] mt-2"
        alt=""
      />
      <h1 class="font-bold text-center">explore package</h1>
      <div class="h-1/2 flex justify-center items-center">
        <p class="text-[10px] text-center text-white">
          your gateway to the world's most captivating destinations. Immerse
          yourself in a kaleidoscope of cultures, landscapes, and experiences as
          you embark on a journey of exploration and wonder.
        </p>
      </div>
    </div>
    <div
      class="serv w-[25%] h-[85%] bg-[#f7467bf8] flex flex-col items-center overflow-hidden justify-evenly rounded-[10px] px-[4px] cursor-pointer"
      (click)="bookingpage()"
    >
      <img src="/assets/images/booking.png" class="w-[50px] mt-2" alt="" />
      <h1 class="font-bold text-center">Book your dream Trip</h1>
      <div class="h-1/2 flex justify-center items-center">
        <p class="text-[10px] text-center text-white">
          Prepare to be captivated by the world's most iconic destinations, each
          offering its own unique blend of beauty and adventure. This dream
          expedition guarantees a lifetime of memories and experiences that will
          leave you spellbound.
        </p>
      </div>
    </div>
  </div>
</div>
