<div class="w-full">
  <div class="title w-full h-[420px] flex items-center">
    <div class="one w-[70%] h-[55%] pl-[60px]">
      <h1 class="lokam-h1 font-black text-[30px]">LOKAMA</h1>
      <p class="flying-text font-bold text-[25px]">flying</p>
      <p class="lokam-description">
        At LOKAMA Flaying, we're your gateway to seamless travel experiences.
        Whether you're planning a weekend getaway, a business trip, or a dream
        vacation, we've got you covered. With our intuitive platform, booking
        your next adventure is as easy as a few clicks..
      </p>
    </div>
  </div>
  <div
    class="title1 w-full h-[230px] mt-[-94px] relative z-10 flex justify-around items-center"
  >
    <div
      class="serv w-[25%] h-[85%] bg-[#f7467bf8] flex flex-col items-center overflow-hidden justify-evenly rounded-[10px] px-[4px]"
    >
      <img
        src="/assets/images/Untitled_design__1_-removebg-preview.png"
        class="w-[60px]"
        alt=""
      />
      <h1 class="font-bold text-center">explore agency</h1>
      <div class="h-1/2 flex justify-center items-center">
        <p class="text-[10px] text-center text-white">
          your gateway to the world's most captivating destinations. Immerse
          yourself in a kaleidoscope of cultures, landscapes, and experiences as
          you embark on a journey of exploration and wonder.
        </p>
      </div>
    </div>
    <div
      class="serv w-[25%] h-[85%] bg-[#f7467bf8] flex flex-col items-center overflow-hidden justify-evenly rounded-[10px] px-[4px]"
    >
      <img
        src="/assets/images/Untitled_design__1_-removebg-preview.png"
        class="w-[60px]"
        alt=""
      />
      <h1 class="font-bold text-center">explore package</h1>
      <div class="h-1/2 flex justify-center items-center">
        <p class="text-[10px] text-center text-white">
          your gateway to the world's most captivating destinations. Immerse
          yourself in a kaleidoscope of cultures, landscapes, and experiences as
          you embark on a journey of exploration and wonder.
        </p>
      </div>
    </div>
    <div
      class="serv w-[25%] h-[85%] bg-[#f7467bf8] flex flex-col items-center overflow-hidden justify-evenly rounded-[10px] px-[4px]"
    >
      <img
        src="/assets/images/Untitled_design__1_-removebg-preview.png"
        class="w-[60px]"
        alt=""
      />
      <h1 class="font-bold text-center">Book your dream Trip</h1>
      <div class="h-1/2 flex justify-center items-center">
        <p class="text-[10px] text-center text-white">
          your premier destination for high-quality travel equipment and gear.
          Designed to meet the needs of modern adventurers, our e-store offers a
          curated selection of products crafted for durability, functionality,
          and style.
        </p>
      </div>
    </div>
  </div>
</div>
