<div
  class="main w-full h-full top-0 overflow-y-auto overflow-x-hidden sticky-0 flex"
  id="chec-div"
>
  <div class="one w-[300px] h-auto flex flex-col ">
    <div class="one-one w-full grid place-items-center">
      <img
        src="/assets/images/avthar-removebg-preview.png"
        class="w-[200px] h-[200px]"
        alt=""
      />
    </div>
    <table class="table">
      <tr>
        <td>Full Name:</td>
        <td>{{ userdata?.fullName }}</td>
      </tr>
      <tr>
        <td>Address</td>
        <td>{{ userdata?.address }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ userdata?.emailAddress }}</td>
      </tr>
      <tr>
        <td>House Number</td>
        <td>{{ userdata?.houseNo }}</td>
      </tr>
      <tr>
        <td>Street</td>
        <td>{{ userdata?.street }}</td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>{{ userdata?.phoneNumber }}</td>
      </tr>
    </table>
  </div>
  <ng-container *ngIf="data && data?.length > 0; else nobooking" >
    <div
      class=" z-10 right-0 h-full overflow-x-hidden transform translate-x-0 transition ease-in-out duration-700"
      id="checkout"
    >
      <div
        class="flex items-end lg:flex-row flex-col justify-end border-2"
        id="cart"
      >
        <div class="w-full lg:px-8 lg:py-14 md:px-6 px-4 md:py-8 py-4 bg-white overflow-y-auto overflow-x-hidden lg:h-screen h-auto"      id="scroll">
          <div
            class="cursor-pointer"
       
            *ngFor="let dt of data"
            (click)="gottopackage( dt?.packagedetails[0]?._id)"
          >
            <div
              class="md:flex items-strech py-8 md:py-10 lg:py-8 border-t border-gray-50"
            >
              <div class="md:w-4/12 2xl:w-1/4 w-full">
                <img
                  src="/assets/images/packagesss.jpeg"
                  alt="Black Leather Purse"
                  class="h-full object-center object-cover md:block hidden"
                />
                <img
                  src="/assets/images/packagesss.jpeg"
                  alt="Black Leather Purse"
                  class="md:hidden w-full h-full object-center object-cover"
                />
              </div>
              <div
                class="md:pl-3 md:w-8/12 2xl:w-3/4 flex flex-col justify-center"
              >
                <p class="text-xs leading-3 text-gray-800 md:pt-0 pt-4">
                  {{ dt?.packagedetails[0]?.packageName }}
                </p>
                <div class="flex items-center justify-between w-full">
                  <p class="text-base font-black leading-none text-gray-800">
                    {{ dt?.agencydetails[0]?.name }}
                  </p>
                  <div
                    aria-label="Select quantity"
                    class="py-2 px-2 border border-gray-200 mr-6 focus:outline-none"
                  >
                    {{ dt?.Noofpersons }} person
                  </div>
                </div>
                <p class="text-xs leading-3 text-gray-600 pt-2">
                  Start Date: {{ dt?.packagedetails[0]?.startDate }}
                </p>
                <p class="text-xs leading-3 text-gray-600 py-4">
                  End Date: {{ dt?.packagedetails[0]?.endDate }}
                </p>
                <p class="w-96 text-xs leading-3 text-gray-600">
                  Price:
                  {{ dt?.packagedetails[0]?.packagePrice | currency : "INR" }}
                </p>
                <p class="text-base font-black leading-none text-gray-800 mt-3">
                  total : {{ dt?.price | currency : "INR" }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="lg:w-96 w-full bg-gray-100 h-full">
          <div
            class="flex flex-col lg:h-screen h-auto lg:px-8 md:px-7 px-4 lg:py-20 md:py-10 py-6 justify-between overflow-y-auto"
          >
            <div>
              <p
                class="lg:text-4xl text-3xl font-black leading-9 text-gray-800"
              >
                Summary
              </p>
              <div class="flex items-center justify-between pt-16">
                <p class="text-base leading-none text-gray-800">
                  total booking packages
                </p>
                <p class="text-base leading-none text-gray-800">
                  {{ data.length }} packages
                </p>
              </div>
              <div class="flex items-center justify-between pt-5">
                <p class="text-base leading-none text-gray-800">total amount</p>
                <p class="text-base leading-none text-gray-800">
                  {{ totalPrice | currency : "INR" }}
                </p>
              </div>
            </div>
            <div>
              <div class="flex items-center pb-6 justify-between lg:pt-5 pt-20">
                <p class="text-2xl leading-normal text-gray-800">Total</p>
                <p
                  class="text-2xl font-bold leading-normal text-right text-gray-800"
                >
                  {{ totalPrice | currency : "INR" }} (include tax)
                </p>
              </div>
              <button
                class="text-base leading-none px-5 py-2 bg-gray-800 border-gray-800 border focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-white"
                (click)="back()"
              >
                back
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #nobooking>
    <h1
      class="place flex justify-center items-center w-full h-[100px] font-bold text-[22px] bg-gradient-to-r from-[red] to-[navy] text-transparent bg-clip-text"
    >
      No booking Found
    </h1>
  </ng-template>
  
</div>
