.table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

@media(max-width:550px){
    .one{
        flex-direction: column !important;
        height: auto;
    }
    .one-one{
        width: 100%;
    }
}