    <div class="w-full flex justify-center items-center">
      <div class="package-details" ngFor="let pack of singlepackage">
        <h2 class="package-name">
          {{ singlepackage?.packageName | uppercase }}
          <span class="text-[10px] text-black font-light">explore with us..</span>
        </h2>
        <p class="price-details font-semibold">
          {{ singlepackage?.aboutPackage }}
        </p>
        <p class="price-details font-bold text-[20px] !text-[#ef4343]">
          Package Price: ₹{{ singlepackage?.packagePrice }}
        </p>
        <div class="facilities p-3">
          <h3 class="font-bold text-[20px] !text-[black] !mb-[20px]">
            Facilities
          </h3>
          <table class="facilities-table">
            <tbody>
              <tr>
                <th>Facility</th>
                <th>Included</th>
              </tr>
              <tr>
                <td>Transportation</td>
                <td>
                  {{ singlepackage?.fecilities?.Transportation ? "Yes" : "No" }}
                </td>
              </tr>
              <tr>
                <td>Accommodation</td>
                <td>
                  {{ singlepackage?.fecilities?.Accommodation ? "Yes" : "No" }}
                </td>
              </tr>
              <tr>
                <td>Meals</td>
                <td>{{ singlepackage?.fecilities?.Meals ? "Yes" : "No" }}</td>
              </tr>
              <tr>
                <td>ProfessionalGuides</td>
                <td>
                  {{
                    singlepackage?.fecilities?.ProfessionalGuides ? "Yes" : "No"
                  }}
                </td>
              </tr>
              <tr>
                <td>LanguageSupport</td>
                <td>
                  {{ singlepackage?.fecilities?.LanguageSupport ? "Yes" : "No" }}
                </td>
              </tr>
              <tr>
                <td>TravelInsurance</td>
                <td>
                  {{ singlepackage?.fecilities?.TravelInsurance ? "Yes" : "No" }}
                </td>
              </tr>
              <tr>
                <td>CustomerSupport</td>
                <td>
                  {{ singlepackage?.fecilities?.CustomerSupport ? "Yes" : "No" }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <table class="package-detailss">
          <tbody>
            <tr>
              <th>Start Date</th>
              <td>
                <span>{{ singlepackage?.startDate }}</span>
              </td>
            </tr>
            <tr>
              <th>End Date</th>
              <td>
                <span>{{ singlepackage?.endDate }}</span>
              </td>
            </tr>
            <tr>
              <th>Offer</th>
              <td>
                {{ singlepackage?.offer }}
              </td>
            </tr>
            <tr *ngIf="singlepackage?.offer === 'Yes'">
              <th>Offer Rate</th>
              <td>
                <span class="offer-rate">{{ singlepackage?.offerRate }}</span>
              </td>
            </tr>
            <tr>
              <th>Maximum Capacity</th>
              <td>
                <span>{{ singlepackage?.maximumCapacity }}</span>
              </td>
            </tr>
            <tr>
              <th>Available Slot</th>
              <td>
                <span>{{ singlepackage?.availableSlot }}</span>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="places">
          <h3 class="font-black text-[30px] !my-5 !text-[#438c43]">Places</h3>
          <div class="" *ngFor="let pls of result" (click)="gotoplaces(pls?.placeid)">
            <ul>
              <li class="place">
                <div class="place-info">
                  <div class="place-div relative">
                    <img
                      class="place-image"
                      src="{{ pls?.placeurl[0] }}"
                      alt="Placeholder image for place"
                      data-place-image-url="https://path/to/actual/image.jpg"
                    />
                    <h1 class="more-text hidden">more...</h1>
                  </div>
                  <div class="place-details">
                    <p class="text-[18px] font-bold !text-[#ffaf4d]">
                      {{ pls?.placename | uppercase }}
                    </p>
                    <p class="text-[18px] font-bold">
                      Arriving Time: {{ pls?.arrivingtime }} ({{
                        pls?.arrivalDate
                      }})
                    </p>
                    <p class="text-[18px] font-bold">
                      Return Time: {{ pls?.returntime }} ({{ pls?.returnDate }})
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <h3 class="font-black text-[30px] !my-5 !text-[#438c43]">Guides</h3>
          <ng-container class="places" *ngFor="let gd of guide">
            <ul>
              <li class="place">
                <div class="place-info">
                  <div class="place-div relative">
                    <img
                      class="place-image"
                      src="{{ gd?.guideurl }}"
                      alt="Placeholder image for place"
                      data-place-image-url="https://path/to/actual/image.jpg"
                    />
                    <h1 class="more-text hidden">
                      more...
                    </h1>
                  </div>
                  <div class="place-details">
                    <p class="font-extrabold text-[18px] !text-[#801100]">
                      {{ gd?.guidename | uppercase }}
                    </p>
                    <p class="font-bold text-[18px]">
                      Expirience: {{ gd?.experience }} years
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </ng-container>
        </div>
        <div class="m-10 flex justify-evenly">
          <button (click)="back()" class="m-[15px]">back</button>
        </div>
      </div>
    </div>
  