<section class="main">
    <div class="form">
        <div class="formleft" >
            <div class="one">
                <h2 class="font-serif font-bold">Sign Up</h2>
                <form action="" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <div class="inputs">
                        <label for="username" class="input-label">Username <span>*</span></label>
                        <input type="text" formControlName="username" name="username" id="" placeholder="username" class="input-form py-2">
                        <label class="label-required" for="" *ngIf="submitted && f['username'].errors && f['username'].errors['required']" >username required</label>
                        <label class="label-required" for="" *ngIf="f['username'].errors && f['username'].errors['pattern']" >username must in the lowercase only</label>
                    </div>
                    <div class="inputs">
                        <label for="username" class="input-label">Email <span>*</span></label>
                        <input type="email" formControlName="email"  name="email" id="" placeholder="email" class="input-form py-2">
                        <label class="label-required" for="" *ngIf="submitted && f['email'].errors && f['email'].errors['required']" >email required</label>
                        <label class="label-required" for="" *ngIf="f['email'].errors && f['email'].errors['email']" >enter the email in correct formate</label>
                    </div>
                    <!-- <div class="inputss">
                        <label for="username" class="input-label">password <span>*</span></label>
                        <input type="password" formControlName="password" name="password" id="" placeholder="password" class="input-form">
                        <label class="label-required" for="" *ngIf="submitted && f['password'].errors && f['password'].errors['required']" >password required</label>
                        <label class="label-required" for="" *ngIf="f['password'].errors && f['password'].errors['pattern']" >password must have 8 charecter and it includes uppercase and special charector also</label>
                    </div> -->
                    <div class="inputss">
                        <label for="password" class="input-label">Password <span>*</span></label>
                        <div class="password-input-container flex  items-center">
                            <input type="{{ hidePassword ? 'password' : 'text' }}" formControlName="password" name="password" id="password" placeholder="Password" class="input-forms py-2">
                            <span class="passlabel toggle-password fas" [ngClass]="{'fa-eye-slash': hidePassword, 'fa-eye': !hidePassword}" (click)="togglePasswordVisibility()"></span>
                        </div>
                        <label class="label-required" for="" *ngIf="submitted && f['password'].errors && f['password'].errors['required']" >password required</label>
                        <label class="label-required" for="" *ngIf="f['password'].errors && f['password'].errors['pattern']" >password must have 8 charecter and it includes uppercase and special charector also</label>
                    </div>
                    <div class="inputs">
                        <label for="username"  class="input-label">phonenumber <span>*</span></label>
                        <input type="number" formControlName="phoneNumber" name="phonenumber" id="" placeholder="phonenumber" class="input-form py-2" >
                        <label class="label-required" for="" *ngIf="submitted && f['phoneNumber'].errors && f['phoneNumber'].errors['required']" >phoneNumber required</label>
                        <label class="label-required" for="" *ngIf="f['phoneNumber'].errors && f['phoneNumber'].errors['minlength']">Phone Number must be at least 10 digits</label>
                    </div>
                    
                    <div class="inputs" >
                        <label class="input-label">Role <span>*</span></label>
                        <div class="check-box">
                            <div>
                                <input type="radio" id="user" name="role" value="user" class="form-radio" (change)="onCheckboxChange($event, 'user')">
                                <label for="user" class="ml-2 text-gray-700">User</label>
                            </div>
                            <div>
                                <input type="radio" id="admin" name="role" value="agency" class="form-radio" (change)="onCheckboxChange($event, 'agency')" >
                                <label for="agency" class="ml-2 text-gray-700">Agency</label>
                            </div>
                        </div>
                        <label class="label-required" *ngIf="submitted && userForm.get('role')?.errors?.['roleRequired']">This field is required</label>
                    </div>
                    

                    <button type="submit" class="" >Sign up</button>
                </form>
                <p style="color: red; margin-top: 10px;">{{already}}</p>
                <p  [ngClass]="{'green-text': otp.otpsend}">{{otp.message}}</p>
                <p>you are already signup ? <a href="">please login</a></p>
            </div>
        </div>
        <div class="formright" >
            <div class="image">
                <img src="/assets/images/signup.webp" alt="">
            </div>
        </div>
    </div>
    <app-otp class="otp" *ngIf="bool" [boolee]="bool"  (out)="boool($event)" [formdata]="data"></app-otp>
    
</section>