<div
  class="one w-[230px] h-[300px] border-[1px] overflow-hidden bg-[#fff] relative rounded-md"
>
  <img
    src="{{ data.placeurl[interwell] }}"
    style="height: 100%; width: auto; border: 2px; filter: brightness(80%)"
    alt=""
  />
  <div class="sin w-full h-[35%] absolute bottom-0 bg-[#808080d7]" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <h1 class="name pl-1 font-bold text-[23px] text-[#ffffff] text-center">
      {{ placeName }}
    </h1>
    <button class=" hidden px-4 my-4">view full details</button>
    <h1 class="disc pl-1 font-medium text-[#3a1c1c] text-center"
   >
    {{ truncatedDescription }}
    </h1>
  </div>
</div>