<marquee behavior="" direction="left" class="my-marquee">
    <div class="imageee flex gap-8">
      <div class="one flex">
        <img src="/assets/images/explore-with-us-high-resolution-logo-black-transparent.png" alt="">
      </div>
      <div class="two ">
        <img src="/assets/images/logo-no-background.png" alt="">
      </div>
      <div class="three">
        <img src="/assets/images/discover-your-next-adventure-high-resolution-logo-black-transparent.png" alt="">
      </div>
    </div>
  </marquee>
  

