<section class="mt-5">
  <h1 class="trending-h1 ml-7 font-black text-[30px]">POPULAR PLACES</h1>
  <div
    class="places w-full overflow-auto flex gap-x-16 px-10 pb-10 pt-3 h-[350px]"
  >
    <div class="place min-w-[225px] flex justify-center items-center">
      <h1 class="text-[30px] font-extrabold">MUNNAR</h1>
    </div>
    <div class="place min-w-[225px] flex justify-center items-center">
      <h1 class="text-[30px] font-extrabold">MUNNAR</h1>
    </div>
    <div class="place min-w-[225px] flex justify-center items-center">
      <h1 class="text-[30px] font-extrabold">MUNNAR</h1>
    </div>
    <div class="place min-w-[225px] flex justify-center items-center">
      <h1 class="text-[30px] font-extrabold">MUNNAR</h1>
    </div>
    <div class="place min-w-[225px] flex justify-center items-center">
      <h1 class="text-[30px] font-extrabold">MUNNAR</h1>
    </div>
  </div>
</section>
